@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 48 43% 95%;
    --foreground: 240 10% 3.9%;
    --card: 48 33% 92%;
    --card-foreground: 240 10% 3.9%;
    --popover: 48 33% 92%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 180 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 20% 85%;
    --secondary-foreground: 240 10% 9%;
    --muted: 180 20% 88%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 41 89% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 20% 80%;
    --ring: 180 100% 25%;
    --chart-1: 180 80% 40%;
    --chart-2: 41 80% 50%;
    --chart-3: 260 40% 50%;
    --chart-4: 50 90% 60%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 180 100% 22%;
    --sidebar-foreground: 48 43% 95%;
    --sidebar-primary: 48 43% 95%;
    --sidebar-primary-foreground: 180 100% 22%;
    --sidebar-accent: 180 100% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 180 100% 30%;
    --sidebar-ring: 41 89% 38%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 48 43% 95%;
    --card: 240 10% 6.9%;
    --card-foreground: 48 43% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 48 43% 95%;
    --primary: 180 80% 60%;
    --primary-foreground: 180 100% 15%;
    --secondary: 240 5% 14.9%;
    --secondary-foreground: 48 43% 95%;
    --muted: 240 5% 14.9%;
    --muted-foreground: 48 30% 70%;
    --accent: 41 80% 60%;
    --accent-foreground: 41 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 14.9%;
    --input: 240 5% 14.9%;
    --ring: 180 80% 60%;
    --chart-1: 180 70% 50%;
    --chart-2: 41 70% 50%;
    --chart-3: 260 50% 60%;
    --chart-4: 50 80% 60%;
    --chart-5: 27 75% 55%;
    --sidebar-background: 240 10% 8%;
    --sidebar-foreground: 48 43% 95%;
    --sidebar-primary: 180 80% 60%;
    --sidebar-primary-foreground: 180 100% 15%;
    --sidebar-accent: 240 10% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 41 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
